/Pendu/pendu_game.exe
/Pendu/scores.txt
/Taquin/save.txt
/Taquin/taquin.exe
/Taquin/.vscode/
/*/.vscode/
/Analyseur/analyseur.exe
/Analyseur/.vscode/
/.vscode/
/Gestionnaire_memoire/gestionnaire_memoire.exe
/Gestionnaire_memoire/.vscode/
/Shell/.vscode/
/Shell/shell.exe